<a href="https://colab.research.google.com/github/zacherymoy/2019-nCoV/blob/master/Unit4BuildWeek2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import zipfile
with zipfile.ZipFile("135088_566393_compressed_SpotifyFeatures.csv.zip","r") as zip_ref:
    zip_ref.extractall("targetdir")

In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [4]:
df = pd.read_csv('/content/targetdir/SpotifyFeatures.csv')
df.head()

   genre        artist_name  ... time_signature valence
0  Movie     Henri Salvador  ...            4/4   0.814
1  Movie  Martin & les fées  ...            4/4   0.816
2  Movie    Joseph Williams  ...            5/4   0.368
3  Movie     Henri Salvador  ...            4/4   0.227
4  Movie       Fabien Nataf  ...            4/4   0.390

[5 rows x 18 columns]

In [5]:
df.describe()

          popularity   acousticness  ...          tempo        valence
count  232725.000000  232725.000000  ...  232725.000000  232725.000000
mean       41.127502       0.368560  ...     117.666585       0.454917
std        18.189948       0.354768  ...      30.898907       0.260065
min         0.000000       0.000000  ...      30.379000       0.000000
25%        29.000000       0.037600  ...      92.959000       0.237000
50%        43.000000       0.232000  ...     115.778000       0.444000
75%        55.000000       0.722000  ...     139.054000       0.660000
max       100.000000       0.996000  ...     242.903000       1.000000

[8 rows x 11 columns]

In [6]:
# Clean dataset 
pd.isnull(df).sum()

genre               0
artist_name         0
track_name          0
track_id            0
popularity          0
acousticness        0
danceability        0
duration_ms         0
energy              0
instrumentalness    0
key                 0
liveness            0
loudness            0
mode                0
speechiness         0
tempo               0
time_signature      0
valence             0
dtype: int64

## Clustering

In [7]:
from sklearn.neighbors import NearestNeighbors
from sklearn.model_selection import train_test_split
from typing import List, Tuple

In [10]:
# drop non-relevant columns

df = df.drop(['key', 'mode', 'time_signature'], axis=1)

In [11]:
neigh = NearestNeighbors(n_neighbors=11)
features = list(df.columns[4:])
X = df[features].values
neigh.fit(X)
'''
    Takes in a dataframe, a feature set array and a song ID and 
    returns a list of tuples of Artist Name and Track Name
'''
def closest_ten(df: pd.DataFrame, X_array: np.ndarray, song_id: int) -> List[Tuple]:
    song = df.iloc[song_id]
    X_song = X[song_id]
    _, neighbors = neigh.kneighbors(np.array([X_song]))
    return neighbors[0][1:]

In [12]:
neigh = NearestNeighbors(n_neighbors=11)
features = list(df.columns[4:])
X = df[features].values
neigh.fit(X)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=11, p=2,
                 radius=1.0)

In [13]:
def closest_ten(df: pd.DataFrame, X_array: np.ndarray, song_id: int) -> List[Tuple]:
    song = df.iloc[song_id]
    X_song = X[song_id]
    _, neighbors = neigh.kneighbors(np.array([X_song]))
    return neighbors[0][1:]

In [14]:
closest_ten(df, X_song, '0BRjO6ga9RKCKjfDqeFgWV')

NameError: ignored